<!DOCTYPE html>
<html lang="en">

<head>
    <meta name=”renderer” content=”webkit”>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>代理检测</title>
    <style>
        body {
            overflow-y: scroll;
        }
        
        #app {
            width: 50%;
            margin: 0 auto;
        }
        
        #configPanel table {
            width: 90%;
            margin: 30px auto;
        }
        
        #configPanel table tr {
            height: 50px;
        }
        
        #configPanel table input {
            width: 90%;
            height: 30px;
            outline: none;
        }
        
        .light {
            font-size: 70%;
            color: slategray;
        }
        
        @media all and (max-width:700px) {
            #app {
                width: 90%;
                margin: 0 auto;
            }
        }
    </style>
</head>

<body>
    <div id="app">
        <fieldset id="configPanel">
            <legend>配置面板</legend>
            <table>
                <tbody>
                    <tr>
                        <td>数据源</td>
                        <td>
                            <select name="testSrc" id="testSrc" v-model="testSrc">
                                <option>西刺代理</option>
                                <option>国外代理</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>响应时间</td>
                        <td>
                            <select name="testTime" id="testTime" v-model="testTime">
                                <option>500</option>
                                <option>1000</option>
                                <option>2000</option>
                                <option>5000</option>
                            </select> 毫秒
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <button @click="reqResult">测试</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>
                <a href="https://github.com/LuckyHH/http-proxy" target="_blank">项目地址</a>
                <a href="http://www.docmobile.cn/artical_detiail/luckyhh/1531479939155" target="_blank">项目介绍</a>
                <a href="http://splider.herokuapp.com" target="_blank">WebSplider</a>
                <a href="http://blog.docmobile.cn" target="_blank">博客</a>
                <a href="https://proxys.herokuapp.com/fetchanswer?testTime=1000" target="_blank" rel="noopener noreferrer">API</a>

                <script src="https://s5.cnzz.com/z_stat.php?id=1275436257&web_id=1275436257" language="JavaScript"></script>
            </p>
            <p class="light">由于Heroku访问不到西刺代理,界面上的两个源实则都是国外代理[FreeProxyList](https://free-proxy-list.net/)</p>
        </fieldset>
        <fieldset id="showPanel">
            <legend>{{showTitle}}</legend>
            <div id="show" v-text="show"></div>
        </fieldset>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script>
        const main = new Vue({
            el: "#app",
            data: {
                testTime: "1000",
                testSrc: "西刺代理",
                show: "",
                showTitle: "所有地址",
                flag: true //按钮锁
            },
            methods: {
                reqResult() {
                    const that = this;
                    if (that.flag) {
                        that.flag = false;
                        that.show = "数据请求中，请稍等...";
                        that.showTitle = "查询结果";
                        axios.get("/fetchanswer", {
                            params: {
                                testTime: that.testTime,
                                testSrc: that.testSrc == "西刺代理" ? 1 : 2
                            }
                        }).then(res => {
                            that.show = res.data;
                            that.flag = true;
                        }).catch(err => {
                            that.show = err;
                            that.flag = true;
                        })
                    } else {
                        that.show = "数据请求中，请耐心等待..."
                    }
                },
                getData() {
                    const that = this;
                    if (that.flag) {
                        that.flag = false;
                        that.show = "数据请求中，请稍等...国外代理数据获取较慢，请耐心等待";
                        axios.get("/getdata", {
                                params: {
                                    testSrc: that.testSrc == "西刺代理" ? 1 : 2
                                }
                            })
                            .then(res => {
                                console.log(res);
                                that.show = res.data;
                            }).catch(err => {
                                that.show = err;
                                that.flag = true;
                            }).then(() => {
                                that.flag = true;
                            })
                    }

                }
            },
            watch: {
                testSrc: function() {
                    this.getData();
                }
            }
        })
        window.onload = function() {
            main.getData();
        }
    </script>
</body>

</html>